body{
    background-color: rgb(207, 240, 253);
}

h1{
font-weight: bolder; color: rgb(30, 50, 138);
}

h2{
font-weight: bolder; color: rgb(26, 51, 167);
}

h3 {
    font-weight: lighter; color: aliceblue;
    
}

h4 {
    font-weight: lighter;
}

.menu1{
font-weight: bolder; color: rgb(255, 255, 255);

}

div {

    background-color: rgb(34, 71, 153);
    height: 20pt;
    font-style: normal;
    color: aliceblue;
}

a{
    font-weight: bolder; color: rgb(250, 250, 255);
    padding-left: 10px;

}

section{
    background-color: rgb(255, 255, 255);
    padding-left: 30px;
    padding-bottom: 15px;
}

table {
    border-color: rgb(167, 167, 167); 
    border: 1px;
}

img {
    width: 300px;
}

.prava{
   text-align: center; 
   padding: 15px;
}

 .kn{
    background-color: rgb(34, 71, 153); 
    color: rgb(255, 255, 255);
}

.images{
    font-weight: lighter; color: blue;
}